{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    <h1 class="jumbotron">Ajouter un livre</h1>

        <div class="col-md-6">
            {{ include('livre/_form.html.twig') }}
        </div>

    <a href="{{ path('livre_index') }}">Liste des livres</a>
{% endblock %}
